<div class="container">
  <div class="col-md-12">
    <h1 class="text-center">Personal Cocktail Codex Builder</h1>
    <div class="text-center">
      <img src="/assets/cocktails_on_bar.JPEG" alt="cocktails on bar" class="img-fluid" id="cocktailsHome"> 
    </div>
  </div>
  <div class="col-md-12 d-flex justify-content-center">
    <form action="/auth/login" method="POST">
      <div class="row justify-content-center form-group">
        <input id="auth-email" type="email" name="email" placeholder="email address" class="text-center">
      </div>
      <div class="row justify-content-center form-group">
        <input id="auth-password" type="password" name="password" placeholder="password" class="text-center">
      </div>
      <div class="row justify-content-center form-group">
        <input type="submit" value="Log In">
      </div>
      <div class="row">
        <p class="text-center">Don't have an account?<br/>Sign up <a href="auth/signup">here</a></p>
      </div>
    </form>
  </div>

</div>

