<div class="profileHeading"></div>
<h2 id="dashboard">Dashboard</h2>
</div>
    <div class="col-sm-12 d-flex justify-content-center">
        <img src="/assets/userAvatar.png" alt="" class="img" id="userAvatar">
    </div>
    <div class="col-lg-12 d-flex justify-content-center">
        <form action="/auth/login" method="GET">
        <div class="col-md-12 justify-content-center form-group">
            <p class="text-center">Name</p>
            <input id="user-name" type="text" name="name" value="<%= user.name%>" class="text-center" readonly>
        </div>
        <div class="col-md-12 justify-content-center form-group">
            <p class="text-center">Email</p>
            <input id="user-email" type="email" name="email" value="<%= user.email%>" class="text-center" readonly>
        </div>
        <div class="col-md-12 justify-content-center form-group">
            <p class="text-center">Password</p>
            <input id="user-password" type="password" name="password" value="<%= user.password%>" class="text-center" readonly>
        </div>
        </form>
    </div>
    </div>


