<h2>PROFILE</h2>


<!-- Avatar Icon to the Left of the Form -->

<!-- Form Get?
Field Label Name
Field pre-filled with user's name - INJECT VALUE
Field Label User
Field pre-filled with logged in e-mail - INJECT VALUE
Field Label Password
Field pre-filled with hidden/bullet password - INJECT VALUE -->

<!-- BONUS
EDIT PROFILE - LEFT BUTTON
DELETE USER - RIGHT BUTTON -->