<!-- MOST IMPORTANT VIEW AFTER LOGIN, SEARCH WITH FORM FIELD WAITING FOR USER INPUTS  -->
<!-- HTML -->
<!-- NAV BAR HOME/SEARCH/Favorites IN THE PRIME LAYOUT SO WILL AUTO-RENDER-->

<!-- H1 Cocktail Search --> 
<div="searchInfo">
<h1>COCKTAIL SEARCH</h1>
<!-- p tag with 1 line copy influecing the formatting of the user input -->
<p>When you see a drink you like, you can add it to your favorites by clicking the button below.</p>
</div>
<!-- 2 In-Line Buttons -
Button Left - Submit
Button Right - Clear -->
<div class="ButtonRow">
<button type="button">Submit Search</button>
<button type="button">Clear </button>
</div>
<!-- Form Fill -->
<div class="searchForm">
<form action="/" method="GET">
<div class="searchField">
<label for ="formField">Pick Your Poison.</label>
<input type="text" class="formField" id="formField" name="formField" value="Cocktail Name" required>
</div>
</form>
</div>


<!-- Returned Search Results -->
<div class=searchResults>
<table>
<tr>
    <th>ID</th>
    <th>Cocktail Name</th>
    <th>Primary Alcohol</th>
    <th>Recipe</th>
    <th>Select</th>
</tr>
<tr>
<!-- ROWS ARE A FOR EACH RETURNED SEARCH RESULT INCLUDING THE SELECT BUTTON -->
<td>1</td>
<td>Name</td>
<td>Prime</td>
<td>Recipe</td>
<td><input type="radio" value="submit" onclick="FUNCTION TO SHOW THATS BEEN SELECTED"></td>
</tr>
<!-- SELECT ROW BUTTON <td><input type="radio" value="submit" onclick= "FUNCTION TO SHOW THATS BEEN SELECTED"-->
</table>
</div>
<!-- Can't recall if you have to div every element in a table in bootstrap, reference later -->




<!-- Button that appears after results search "Add to Favorites" -->
<div class="addFavorites">
<button type="button">Add to Favorites</button>
</div>









<!-- JS -->












