@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

a {
  color: white;
}

a:hover {
  color: gray;
}

body {
  font-family: 'Raleway', sans-serif;;
  background-image: linear-gradient(rgb(46, 19, 19) 80%, rgb(11, 5, 5));
  background-attachment: fixed;
}

h1 {
  color: darkred;
  font-family: 'Slackey', cursive;
}

#clear {
  color: white;
}

#cocktailsHome {
  max-width: 50%;
  margin-bottom: 20px;
}

#userAvatar {
  max-width: 100px;
}

.italics {
  font-style: italic;
}

.cocktail-img {
  max-width: 150px;
}