@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
body {
  font-family: 'Raleway', sans-serif;;
  background-image: linear-gradient(rgb(46, 19, 19) 85%, rgb(11, 5, 5));
  background-attachment: fixed;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
  color: white;
}

a {
  color: white;
}

a:hover {
  color: rgb(164, 164, 164);
}

a {
  color: white;
}

a:hover {
  color: gray;
}

form {
  font-family: 'Raleway', sans-serif;
}

#small>p {
  margin-top: -15px;
  color: white;
}

h1 {
  color: darkred;
  font-family: 'Slackey', cursive;
}

tr>td, tr>th {
  color: rgb(201, 189, 189);
}

.showEdit {
  display: none;
}

.showRecipe {
  display: none;
}
.cocktailName {
  font-weight: 300;
}

#favoriteSubmit {
  margin-bottom: 30px;
}

#cocktailsHome {
  max-width: 45%;
  margin-bottom: 20px;
}

#userAvatar {
  max-width: 100px;
}

.italics {
  font-style: italic;
}

.cocktail-img {
  max-width: 150px;
}

#dashboard {
  text-align: center;
  color: white;
}

#userAvatar {
  border-radius: 30%;
  margin-top: 15px;
  margin-bottom: 20px;
}

.checksearch {
  float: right;
  margin-left: 22px;
}

#selectFavoriteTag {
  text-align: center;
  padding-left: -5px;
  padding-right: 10px;
  text-indent: 20px;
}

p.registerEmail {
  margin-top: 15px;
}

p.registerPassword {
  margin-top: 15px;
}

@media only screen and (max-width: 600px) {
  .recipe {
    display: none;
  }
  .showRecipe {
    display: table-cell;
  }
  #favoriteButton {
    font-size: 10px;
    float: left;
  }
  .checksearch {
    margin-right: 5px;
  }
  .cocktailName {
    text-decoration: underline;
  }
  .showEdit {
    display: block;
    text-decoration: underline;
  }
  .showEdit a {
    color: gray;
  }
  .edit {
    display: none;
    text-decoration: underline;
  }
  .footerButtons {
    max-width: 40%;
  }
}
