nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

body {
  font-family: ‘Raleway’, sans-serif;
}

h1 {
  color: darkred;
  font-family: ‘Slackey’, cursive;
}

#clear {
  color:white;
}

#cocktailsHome {
  max-width: 50%;
}

#userAvatar {
  max-width: 100px;
}

.italics {
  font-style: italic;
}

.cocktail-img {
  max-width: 150px;
}


